html, body {
margin:0;
padding:0;
}
body {
  margin: 0;
}
h1{
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
}
#bkgControl{
  text-align: center;
  font-family: fantasy;
}
#artistInfo{
background-color: DarkViolet;
width:150px;
height:200px;
position: absolute;
right: 2.5%;
top: 10px;
text-indent: 20px;
color: white;
}
#p5-canvas {
  display: block;
  position: relative;
  margin-left: 2.5%;
  align-self: center;
}
